
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{% endblock%}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Set up a council tax Direct Debit online
      </h1>


      <h2 class="govuk-heading-l">
        The easiest way to pay
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          It saves you time
        </li>
        <li>
          It gives you peace of mind that your payment will be taken on time
        </li>
        <li>
          You spread the payments out over the year
        </li>
        <li>
          The payments can go out on any day of the month (apart from the 31st)
        </li>
      </ul>



          <h2 class="govuk-heading-m">
                    Data protection
                  </h2>

                  <p>
                    To find out how the information you provde on this digital service may be used, please see our <a href="#">privacy notice</a>.
                  </p>

      <h2 class="govuk-heading-m">
        You will need
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Council tax account number
        </li>
        <li>
          Your bank account details
        </li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "your_details",
        isStartButton: true
      }) }}

      <hr>

      <h2 class="govuk-heading-m">
        Useful links
      </h2>

      <p>
        <a href="#">Print the Direct Debit mandate form</a>
      </p>





    </div>
  </div>

{% endblock %}


{% block footer %}

{{ govukFooter({
  meta: {
    html: 'New footer'
  }
}) }}

{% endblock %}
