
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Register to use online services</span>
      <h1 class="govuk-heading-xl">
        Request for PIN received
      </h1>

      <p>
        You'll receive the PIN within 7 working days. Return to this website when you receive it.
      </p>

      <P>
        <a href="start">Cheat link to show later</a>
        </p>

    </div>
  </div>

{% endblock %}
