
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Register to use online services</span>
      <h1 class="govuk-heading-xl">
        Your personal details
      </h1>

      <form class="post" method="post" action="enter_post_PIN">

      {{ govukInput({
        label: {
          text: "Your full name"
        },
        classes: "govuk-input--width-10",
        id: "full-name",
        name: "full-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Your email address"
        },
        classes: "govuk-input--width-10",
        id: "email-address",
        name: "emailAddress"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone number"
        },
        hint: "We need this to send a PIN",
        classes: "govuk-input--width-10",
        id: "telephone-number",
        name: "phoneNumber"
      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
