
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Contacting you about your Direct Debit
      </h1>

      <form class="post" method="post" action="existing_phone_number_answer">


        <p>
          If we have any questions setting up a Direct Debit we prefer to contact people by telephone.
        </p>


        {{ govukRadios({
          idPrefix: "queries-by-phone",
          name: "queries-by-phone",
          fieldset: {
            legend: {
              text: "How do you prefer for us to contact you?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Telephone number 0797 693 7205"
            },
            {
              value: "no",
              text: "Another telephone number"
            },
            {
              value: "post",
              text: "By post"
            }
          ]
        }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
