
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Balance for 2021 to 2022 council tax
      </h1>

      <form class="post" method="post" action="your_personal_details">

      <p>
        Amount still due for the property for the period 6 April 2021 to 5 April 2021<span class="govuk-heading-l">&pound;456</span>
      </p>


      </form>
    </div>
  </div>

{% endblock %}
