
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Amend Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Cancel Direct Debit
      </h1>

      <p>
        [what if the DD is due to go out tomorrow or the next day? can it be cancelled that quickly?]
      </p>

      <p>
        If you wish to pay the Direct Debit from a different bank account you can <a href="">change the bank account details</a>.
      </p>


      <form class="post" method="post" action="cancel_DD_reason">

        {{ govukRadios({
          idPrefix: "cancel-reason",
          name: "cancel-reason",
          fieldset: {
            legend: {
              text: "Why do you want to cancel this Direct Debit?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "moving-within",
              text: "Moving home, within the borough"
            },
            {
              value: "moving-outside",
              text: "Moving home, to outside the borough"
            },

            {
              value: "monthly",
              text: "Want to pay monthly manually [language]"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <p>
      <a href="#">Cancel</a>
      </p>

      </form>
    </div>
  </div>

{% endblock %}
