
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Amend Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Moving within the Royal Borough of Greenwich
      </h1>

      <p>
        If you are moving within the Royal Borough of Greenwich you do not need to cancel your Direct Debit. We will help you transfer your payment of council tax by Direct Debit to your new property.
      </p>

      <h2 class="govuk-heading-m">
        What to do next
      </h2>

      <p>
            <a href="#">Complete this online form</a>
      </p>

      <p>
        or
      </p>

      <p>
          <a href=-"#">Contact the council tax team by telephone</a>
      </p>

    </div>
  </div>

{% endblock %}
