
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Communication preferences
      </h1>

      <form class="post" method="post" action="same_address_question">

        <p>
          You have provided an email address.
        </p>

        {{ govukRadios({
          idPrefix: "comms-by-email",
          name: "comms-by-email",
          fieldset: {
            legend: {
              text: "Would you prefer your Royal Borough of Greenwich council tax correspondance sent by email?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes, send my council tax correspondance by email"
            },
            {
              value: "No",
              text: "No, send my council correspondance by post"
            }
          ]
        }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
