
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{% endblock%}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Set up a council tax Direct Debit online
      </h1>

      <h2 class="govuk-heading-l">
        Before you start
      </h2>

      <p>
        You will need
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Your council tax account number, found on any Royal Borough of Greenwich council tax bill
        </li>
        <li>
          Your bank account details
        </li>
        <li>
          Need to know whether you want to pay your council tax for a year in one amount or a number of months
        </li>
        <li>
          An idea of a day of the month you want your Direct Debit to leave your bank account
        </li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "council_tax_number",
        isStartButton: true
      }) }}


            <h2 class="govuk-heading-m">
              Data protection
            </h2>

            <p>
              To find out how the information you provde on this digital service may be used, please see our <a href="#">privacy notice</a>.
            </p>



    </div>
  </div>

{% endblock %}


{% block footer %}

{{ govukFooter({
  meta: {
    html: 'New footer'
  }
}) }}

{% endblock %}
