
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Your address
      </h1>

      <p>
        This is the address your bank account is registered at.
      </p>

      <h2 class="govuk-heading-m">Postcode</h2>
      <p>
        SE18 6HQ <a href="your_address">Change</a>
      </p>

{{ govukRadios({
  idPrefix: "select-address",
  name: "select-address",
  fieldset: {
    legend: {
      text: "Select an address",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "",
      text: "The Woolwich Centre, Wellington Street, Woolwich, SE18 6HQ"
    }
  ]
}) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "DD_plan"
      }) }}
    </div>
  </div>

{% endblock %}
