
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your Council Tax summary
      </h1>


      <h2 class="govuk-heading-l">
        Your account details
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-3" >
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Name
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          Andy Resident
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Account number
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          12345678
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Address
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          10 Placecube Stree, London, SE18 6HQ
        </dd>
      </div>
      </dl>
      <p style="border-style: solid; border-color: #ED850A; background: #fdf3c1; padding: 8px; text-align: center">
              This property is in Band D
      </p>



      <h2 class="govuk-heading-l">
          Your summary
      </h2>


      <h3 class="govuk-heading-m">
          Council Tax Bill 2020 to 2021
      </h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total for year 2020 to 2021
        </dt>
        <dd class="govuk-summary-list__value">
          £480.00
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount already paid
        </dt>
        <dd class="govuk-summary-list__value">
          £0.00
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <span class="govuk-heading-m" style="margin-bottom: 0;">Total left to pay</span>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-heading-m">£480.00</span>
        </dd>
      </div>
      </dl>

{{ govukTable({
  caption: "Monthly payments for 2020/21",
  firstCellIsHeader: true,
  head: [
    {
      text: "Due date"
    },
    {
      text: "Amount"
    }
  ],
  rows: [
    [
      {
        text: "15 Nov 2020"
      },
      {
        text: "£160.00"
      }
    ],
    [
      {
        text: "15 Dec 2020"
      },
      {
        text: "£160.00"
      }
    ],
    [
      {
        text: "15 Jan 2021"
      },
      {
        text: "£160.00"
      }
    ],
    [
      {
        text: "Total for year 2020/2021"
      },
      {
        text: "£480.00"
      }
    ]

  ]
}) }}


{{ govukButton({
  text: "Set up a Direct Debit",
  href: "/Set_Up_A_Direct_Debit/v4/start"
}) }}

<p style="margin-top: -16px;">
<a href="../../Information_Pages/v1/index">Other ways to pay</a>
</p>


      <h3 class="govuk-heading-s">
          Download your annual bills
      </h3>

      <p>
        <a href="#">Council Tax Bill 2020 to 2021</a><br />
        <span class="govuk-body-s">PDF, 140KB</span>
      </p>


      <hr>

      <h4 class="govuk-heading-s">
          Useful links
      </h4>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Council Tax discounts</a></li>
        <li><a href="">Council Tax exemptions</a></li>
        <li><a href="">Council Tax arrears</a></li>
        <li><a href="">Council Tax budget spend</a></li>
        <li><a href="">Contact the Council Tax team</a></li>

      </ul>

    </div>
  </div>

{% endblock %}


{% block footer %}

{{ govukFooter({
  meta: {
    html: 'New footer'
  }
}) }}

{% endblock %}
