
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Connect to a council tax account</span>

      <form class="post" method="post" action="confirmation">


            {{ govukInput({
              label: {
                text: "Your name",
                classes: "govuk-label--xl",
                isPageHeading: true
              },
              classes: "govuk-input--width-20",
              id: "name",
              name: "name",
              hint: {
                text: "Must be your name as displayed on a council tax bill"
              }
            }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
