
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Royal Borough of Greenwich</span>
      <h1 class="govuk-heading-xl">
        Council tax prototypes
      </h1>

      <h2 class="govuk-heading-m">About this prototype</h2>

      <p>
        Prototypes allow us to test ideas. Unless specified they are not designs that are "approved" and they are not production level code. These are in the first instance experiements, stimulus to test.
      </p>

      <p>
        These prototypes are created using the <a href="https://govuk-prototype-kit.herokuapp.com/">gov.uk prototype kit</a>, which is used across UK government to test ideas. The kit carries the <a href="https://design-system.service.gov.uk">gov.uk design system</a>, which carries agreed styles, compoents and patterns, developed over the last eight years across government.
      </p>

      <p>
        This prototype sits on a platform called Heroku. The repo (the code) is <a href="https://github.com/ermlikeyeah/greenwich-council-tax">stored on GitHub</a>. Any updates to that code automatically upload to Heroku (it takes a couple of minutes).
      </p>

      <h2 class="govuk-heading-m">Overall to do</h2>


      <p>
        To do: fix header bug when gov.uk appears when uploaded to Heroku
      </p>

      <hr>


      <h2 class="govuk-heading-m">Council Tax Account Overview</h2>

      <h3 class="govuk-heading-s">v1</h3>

      <p>
        DRAFT
      </p>

      <p>
        <a href="Council_Tax_Account_Overview/v1/index">v1 page</a>
      </p>

      <hr>


      <h2 class="govuk-heading-m">Set up Direct Debit</h2>

      <h3 class="govuk-heading-s">v1</h3>

      <p>
        Emyr's initial wireframes translated over to the gov.uk prototype kit
      </p>

      <p>
        <a href="Set_Up_A_Direct_Debit/v1/start">v1 start page</a>
      </p>


      <h3 class="govuk-heading-s">v2</h3>

      <p>Progression of v1 journey, user isn't logged in</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Start page split into two screens: 1. <a href="/Set_Up_A_Direct_Debit/v2/index">An overall Direct Debt page</a> with timescale expectancies for the tax payer; 2. <a href="/Set_Up_A_Direct_Debit/v2/start">A dedicated start page for Set Up A Direct Debit Online</a></li>
      <li>Providing a council tax account number on <a href="/Set_Up_A_Direct_Debit/v2/council_tax_number">its own page</a>. Also contains <a href="Set_Up_A_Direct_Debit/v2/council_tax_number_no_number">an example of error messaging</a>.</li>
      <li>Looks up property address and <a href="/Set_Up_A_Direct_Debit/v2/address_check">returns property address</a> and asks if this is the property to pay council tax for.</li>
      <li><a href="/Set_Up_A_Direct_Debit/v2/amount_due">Displays amount outstanding</a>, ie. the amount the Direct Debit will be set up from. Also notes if there is an unsummonsed arrear amount</li>
      <li><a href="/Set_Up_A_Direct_Debit/v2/communication_preferences">Ask user if they want to receive communications by email</a></li>
      <li><a href="/Set_Up_A_Direct_Debit/v2/same_address_question">Ask if council tax bill address is the same as home address</a>, theory: Saves user entering an address, needed to set up Direct Debit</li>
      <li>Updated, split out into sections, <a href="/Set_Up_A_Direct_Debit/v2/check_info_provided">check information screen</a>, which also displays data carried through</li>
      <li><a href="/Set_Up_A_Direct_Debit/v2/confirmation">Updated confirmation screen</a> with clearer what has happened and what happens next</li>
      </ul>

      <p>
        <a href="Set_Up_A_Direct_Debit/v2/index">v2 landing page</a>
      </p>

      <h3 class="govuk-heading-s">v3</h3>

      <p>Progression of v2 journey, after review with staff. User isn't logged in.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Revision of <a href="/Set_Up_A_Direct_Debit/v2/start">start page</a>, to include more detail on what you need before you start. Includes info on Direct Debit Guarantee. Also included link to other methods of setting up a Direct Debit.</li>
      <li>Now ask for <a href="/Set_Up_A_Direct_Debit/v3/property_postcode">property postcode<a> to validate access to set up Direct Debit. (You need to enter SE10 1AA to continue.)</li>
      <li>New screen <a href="/Set_Up_A_Direct_Debit/v3/quit_setting_up">stopping setting up a Direct Debit</a>, asking user to check their reference/s and they are entering them correctly. If problem persists directs them to teh council tax team.</li>
      <li>Slight redesign of <a href="/Set_Up_A_Direct_Debit/v3/amount_due">amount due</a>. Also have <a href="/Set_Up_A_Direct_Debit/v3/amount_due_with_arrears">an option for account with arrears</a>, directing the user to contact the council tax office.</li>
      <li><a href="/Set_Up_A_Direct_Debit/v3/communication_preferences">Communication preferences</a> only appears if email address provided</li>
      <li>Payment date is now on <a href="/Set_Up_A_Direct_Debit/v3/DD_date">its own screen</a> to provide clearer guidance but also help work out options on the next screen</li>
      <li>Rework of payment schedule screen: <a href="/Set_Up_A_Direct_Debit/v3/DD_plan_this_month">example 1</a>, <a href="/Set_Up_A_Direct_Debit/v3/DD_plan_next_month">example 2</a>, and <a href="/Set_Up_A_Direct_Debit/v3/DD_plan_odd_first_amount">example 3</a> with an odd first payment</li>
      <li><a href="/Set_Up_A_Direct_Debit/v3/bank_details">Bank account details</a> has bank branch removed after referring to HMRC. Is it needed to manually create a Direct Debit though?</li>
      <li>Updated view of payment schedule on <a href="/Set_Up_A_Direct_Debit/v3/check_info_provided">check information screen</a>, which also displays data carried through. Also now carries Direct Debit Guarantee content and some terms of service.</li>
      </ul>

      <p>
        <a href="Set_Up_A_Direct_Debit/v3/index">v3 landing page</a>
      </p>

      <h3 class="govuk-heading-s">v4</h3>

      <p>Copy of v3 journey, but amends because user is logged in.</p>

      <p>
        To do: "logged in" in header
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Removed asking for council tax account number and postcode. Now <a href="/Set_Up_A_Direct_Debit/v4/confirm_property">just ask user to confirm property</a> (as should be linked to from account).</li>
        <li>Don't need to ask user for their name, email address or phone number as we should have collected these on account creation.</li>
        <li>Still include <a href="/Set_Up_A_Direct_Debit/v4/communication_preferences">the nudge to receive emails</a>.</li>
        <li>Some fields removed from <a href="/Set_Up_A_Direct_Debit/v4/check_info_provided">the confirm info page</a> as we don't ask it.</li>
      </ul>

      <p>
        <a href="Set_Up_A_Direct_Debit/v4/index">v4 landing page</a>
      </p>

      <hr>


      <h2 class="govuk-heading-m">View a council tax balance online</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="View_Council_Tax_Balance/v1/index">v1 landing page</a></li>
      </ul>

      <hr>


      <h2 class="govuk-heading-m">Register to use online</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="Register_To_Use_Online/v1/index">v1 landing page</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
