
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Royal Borough of Greenwich
      </h1>

      <h2 class="govuk-heading-m">Direct Debit</h2>



      <ul class="govuk-list govuk-list--bullet">
        <li><a href="Set_Up_A_Direct_Debit/v1/index">v1 landing page</a></li>
      </ul>

      <h2 class="govuk-heading-m">Register to use online</h2>


      <li><a href="Register_To_Use_Online"></a></li>


    </div>
  </div>

{% endblock %}
