
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        A text message has been sent to the number 0797 693 7205
      </h1>

      <form class="form" action="/Register_To_Use_Online/access_granted" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="pin-number">
            Enter the PIN number from the text message
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">

        </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

    </div>
  </div>

{% endblock %}
