
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>
      <h1 class="govuk-heading-xl">
        Council tax amount due
      </h1>

      <form class="post" method="post" action="communication_preferences">


          <div class="govuk-panel govuk-panel--confirmation" style="background: #1d70b8;">

            <div class="govuk-panel__body">
              For 1 November 2020 to 5 April 2021 you need to pay<br /><strong>&pound;480.00</strong>
            </div>

          </div>

          <p>
            This amount is payable over the remaining months of the [year].
          </p>


      {{ govukButton({
        text: "Set up Direct Debit"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
