
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up a Direct Debit</span>

      <form class="post" method="post" action="bank_details">



{{ govukRadios({
  idPrefix: "payment-plan",
  name: "payment-plan",
  fieldset: {
    legend: {
      text: "Choose a payment schedule",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "Pay £124.56 for the first month, and £120.00 for the 3 remaining months",
      text: "Pay £124.56 for the first month, and £120 for the 3 remaining months"
    },
    {
      value: "Pay £244.56 for the first month, and £240.00 for the final month",
      text: "Pay £244.56 for the first month, and £240.00 for the final month"
    }

  ]
}) }}

<p>
  Your first payment will be taken on {{ data['payment-date'] }} November 2020.
</p>


{{ govukInsetText({
  text: "Your Direct Debit will automatically be renewed every 12 months unless we receive notice to cancel it from your bank."
}) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
